body {
    font-family: myriad-pro, sans-serif;
}

.hide {
    display: none;
}

.active {
    display: block !important;
    overflow: visible !important;
}

#menu-dropdown {
    z-index: 1000;
    max-width: 230px;
    width: 95%;
    background-color: #444242;
    color: white;
    padding: 10px;
    height: 350px;
}

#menu-dropdown ul {
    list-style: none;
}

#menu-dropdown ul li {
    position: relative;
}

#menu-dropdown ul li:hover {
    color: gray;
}

#menu-dropdown ul li .arrow-white:hover {
    color: gray;
}

#menu-dropdown ul li .subdeptos {
    display: none;
    float: right;
    position: absolute;
    width: 150%;
    height: 438px;
    border: 1px solid darkgreen;
    left: 165px;
}

#menu-dropdown ul li:hover .subdeptos {
    display: block;
}

#menu-dropdown ul li .subdeptos li {
    display: block;
    overflow: hidden;
}

.deptos {
    position: relative;
}

li {
    margin-bottom: 25px;
}

.subdeptos li a {
    color: black;
    text-decoration: none;
}

.arrow-white {
    width: 15px;
    position: absolute;
    right: 0;
}

#celulares {
    top: 0px;
}

#computo {
    top: -40px;
}

#fotografia {
    top: -90px;
}

#drones {
    top: -130px;
}

#accesorios {
    top: -175px;
}

#celulares img {
    width: 500px;
    top: 0;
    position: absolute;
}

#computo img {
    width: 500px;
    position: absolute;
    margin-left: 150px;
    top: 0px;
}

#fotografia img {
    width: 400px;
    position: absolute;
    margin-left: 200px;
    top: 0px;
}

#drones img {
    width: 400px;
    position: absolute;
    margin-left: 200px;
    top: 0px;
}

#accesorios img {
    width: 350px;
    position: absolute;
    margin-left: 200px;
    top: 0px;
}